@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--colorScheme3);
}

:root {
    --colorScheme1: #0ed6d0;
    --colorScheme2: #0bb1c0;
    --colorScheme3: #131618;
}

nav {
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    padding: 20px 50px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.2);
}



.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    line-height: 40px;
    padding-left: 10px;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: top 0.3s;
}

.sidebar ul li a {
    color: white;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.sidebar ul {
    list-style: none;
}

.sidebar a:hover {
    color: var(--colorScheme1);
    background-color: var(--colorScheme3);
    width: 100%;
    width: 100%;
}

.xBtn {
    color: var(--colorScheme1);
    background-color: transparent;
    padding: 12px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;

    display: flex;
    justify-content: center;
    font-size: 30px;
    padding: 7px;
}

.xBtn:hover {
    color: white;
}

.navbar.sticky {
    top: -80px;
}

a {
    text-decoration: none;
}

.titlepage {
    color: white;
    max-width: 1200px;
    margin: 80px auto auto;
}

.titlepage h1 {
    text-align: center;
    font-size: 4rem;
    padding: 3rem 6rem 0 6rem;
}

.logo {
    font-size: 18px;
    font-weight: 600;
}

.logo a {
    color: white;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

nav ul li a {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    margin: 0 10px;
    color: white;
    position: relative;
}

nav button {
    color: var(--colorScheme1);
    background-color: transparent;
    padding: 12px 16px;
    border-radius: 5px;
    border: 1px solid var(--colorScheme1);
    cursor: pointer;
    transition: all 0.3s ease;

    display: none;
    justify-content: center;
    font-size: 30px;
    padding: 7px;
}

nav button:hover {
    background-color: var(--colorScheme1);
    border-color: var(--colorScheme2);
    color: #fff;
}

.navigations a::after {
    content: '';
    position: absolute;
    background-color: var(--colorScheme1);
    height: 4px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.blur {
    position: relative;
    box-shadow: 0 0 200px 20px aqua;
    z-index: 100;
}

.navigations a:hover {
    color: var(--colorScheme2);
}

.navigations a:hover::after {
    width: 100%;
}

.html-btn {
    background-color: var(--colorScheme1);
    padding: 12px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.container1 {
    margin: 0 10% 0 10%;
    align-content: center;
}

.card {
    padding: 1rem;
    max-width: 1200px;
    background-color: transparent;
    color: white;
    max-width: 800px;
    border: 2px solid var(--colorScheme1);
    margin: 3rem auto 2rem auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: border 0.3s ease;
}

.card:hover {
    border-image: linear-gradient(to right, #00f, #0f0);
    border-image-slice: 1;
}

.card p {
    margin-bottom: 1rem;
    position: initial;
}

#HTML {
    color: var(--colorScheme1);
    font-size: 50px;
    z-index: 1;
    padding: 3px;
    border-radius: 6px;
}

/*--CHEATSHEET--*/

.container {
    display: flex;
    max-width: 1200px;
    margin: auto;
}

#xIcon {
    color: white;
    font-size: 30px;
}

.sidebarr {
    width: 100%;
    height: 100%;
    background-color: #27272a;
    color: white;
    border-radius: 10px;
}

.how-to-list a i {
    vertical-align: middle;
    margin-right: 2px;
}

.how-to-list {
    list-style-type: none;
    padding: 20px;
}

.how-to-list li {
    margin-bottom: 10px;
}

.how-to-list li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.how-to-list li a:hover {
    color: var(--colorScheme2);
}

.main {
    width: 80%;
    padding: 20px;
}

.sample {
    margin-bottom: 40px;
    margin: 20px;
    opacity: 0.8;
}

.sample h2:hover {
    color: var(--colorScheme1);
}

.sample h2 {
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
    border: 1px solid var(--colorScheme1);
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    transition: color 0.3s ease;
    cursor: pointer;
}

.sample p {
    color: white;
    font-size: 18px;
}

code {
    font-family: 'Fira Code', monospace;
    font-size: 14px;
    background-color: #272822;
    color: #f8f8f2;
    padding: 3px 6px;
    border-radius: 3px;
    border: 1px solid #444;
}

@media only screen and (max-width: 800px) {
    .hideOnMobile {
        display: none;
    }

    #navButton {
        display: block;
    }

    .navbar {
        background-color: transparent;
    }

    .container {
        flex-direction: column;
    }

    .main {
        width: 100%;
        padding: 10px;
    }

    .sample {
        margin: 10px;
    }
}

@media only screen and (max-width: 450px) {
    .sidebar {
        width: 100%;
    }

    .container {
        align-items: center;
    }
}